*
!*/

!/.github/**/*.yml

!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

!/**/build.gradle.kts
!/**/src/**/*.*

!/img/**/*.png

!/.gitignore
!/gradle.properties
!/gradlew
!/gradlew.bat
!/settings.gradle.kts
!/LICENSE
!/README.md
